.spacer {
  padding: 10px;
}

.intro {
  display: flex;
  justify-content: center;
}

.userflow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgbox {
  width: 300px;
  height: 200px;
  background-color: grey;
}

.posttext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boxeditem {
  width: 250px;
  height: 150px;
  background-color: grey;
  margin: 20px;
}
